.card .header-primary, .card .content-primary {
    background: linear-gradient(60deg, #4ba9cd, #7b1fa2);
}

.page-header.header-filter {
    background-image: url(https://files.slack.com/files-pri/TD38S1EJY-FFDMSMUCW/mohammad-alizade-631039-unsplash.jpg);
    background-size: cover; 
    background-position: top center;
}

#bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 300px;
    content: "";
    z-index: 1029;
    overflow-x: hidden;
}
.navbar-header {
    float: none;
}
.navbar-header .navbar-toggle {
    display: block;
    float: right;
}
.navbar-collapse {
    color: white;
    position: fixed;
    display: block;
    top: 0px;
    height: 100vh;
    width: 230px;
    right: 0;
    margin-right: 0 !important;
    z-index: 1032;
    visibility: visible;
    background-color: rgb(250, 248, 248)!important;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    max-height: none !important;
    -webkit-transform: translate3d(230px, 0, 0);
    -moz-transform: translate3d(230px, 0, 0);
    -o-transform: translate3d(230px, 0, 0);
    -ms-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.navbar-collapse.collapse {
    height: 100vh !important;
}
.navbar-collapse ul {
    position: relative;
    z-index: 3;
    overflow-y: auto;
    height: 100%;
    float: none !important;
    margin: 0;
}
.navbar-collapse .nav > li:after {
    width: calc(100% - 30px);
    content: "";
    display: block;
    height: 1px;
    margin-left: 15px;
    background-color: #ffffff;
}
.navbar-collapse .nav > li:last-child:after {
    display: none;
}
.navbar-collapse::after {
    color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    display: block;
    content: "";
    z-index: 1;
}
.navbar.navbar-transparent .navbar-toggle .icon-bar {
    color: #FFFFFF;
}
.navbar.navbar-default .navbar-toggle .icon-bar {
    color: inherit;
}
.navbar .navbar-collapse .caret {
    position: absolute;
    right: 16px;
    margin-top: 8px;
}
.navbar .navbar-collapse .nav > li {
    padding: 0;
    float: none;
}
.navbar .navbar-collapse .navbar-nav {
    margin-top: 0;
}
.navbar .navbar-collapse .navbar-nav > li > a {
    font-weight: bolder !important;
    color: rgb(51, 228, 204);
    margin: 5px 15px;
}
.navbar .navbar-collapse .navbar-nav > li > a:hover, .navbar .navbar-collapse .navbar-nav > li > a:focus {
    color: #3C4858;
}
.navbar .navbar-collapse .navbar-nav > li.button-container > a {
    margin: 15px;
}
.navbar .navbar-collapse .navbar-nav > li.open > .dropdown-menu {
    padding-bottom: 10px;
    margin-bottom: 5px;
    box-shadow: none;
}
.navbar .navbar-collapse .open .dropdown-menu.dropdown-with-icons > li > a {
    padding: 12px 20px 12px 35px;
}
.navbar .navbar-collapse .open .dropdown-menu > li > a {
    color: #3C4858;
    margin: 0;
    padding-left: 46px;
}
.navbar .navbar-collapse .open .dropdown-menu > li > a:hover, .navbar .navbar-collapse .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
}
.navbar .navbar-collapse .dropdown-menu li {
    margin: 0 15px;
}
.navbar .navbar-collapse .dropdown.open .dropdown-menu {
    display: block;
}
.navbar .navbar-collapse .dropdown .dropdown-menu {
    display: none;
}
nav .container,
nav .navbar-header {
    -webkit-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.nav-open nav .navbar-header {
    left: 0;
    -webkit-transform: translate3d(-245px, 0, 0);
    -moz-transform: translate3d(-245px, 0, 0);
    -o-transform: translate3d(-245px, 0, 0);
    -ms-transform: translate3d(-245px, 0, 0);
    transform: translate3d(-245px, 0, 0);
}
.nav-open .navbar-collapse {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.header.header-primary.text-center {
    width: 101%;
    position: relative;
    left: -6%;
}

img.img.container {
    width: 8%;
    float: left;
    border-radius: 50%;
}

.input-group {
    margin-top: 10%;
}

.container.carousel{
    margin-left:-100%;
    margin-top:-100%;
}

.carousel-inner{
    position: relative;
    width: 147%;
    overflow: -webkit-paged-x;
    margin-left:-30%;
    margin-top:15%;
}

.header.header-primary.text-center {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

.main {
    display: none;
    height: 800px;
}

.container.middle {
    margin-top: 25px;
    padding: 10px !important; 
}

.lyrics {
    height: 500px;
    overflow: auto

}

.footer {
    margin-top: 40px;
}

login-page .footer .container {
    padding: 100px;
}

.container.middle {
    margin-top: 6%;
}